.register {
  margin-top: 0;
}
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
  text-align: center;
  height: 100px;
  padding-top: 20px;
}

.section {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
}
